<IfModule mod_rewrite.c> # /whatever/download.php/tobeforwarded like is being forwarded to download.php instead of not found
RewriteEngine On
RewriteBase /imagr # base direcorty where this is, relative form your document root
RewriteRule ^download\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /imagr/download.php [L] # same here + /download.php
</IfModule>
# if not module
# go and cry (lol)
